*.bak
*.pyc
*.i
*.out
*.docx
ITER DATA/move.py
*.ZIP
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
*.xml
*.txt
*.xml
ITER_DATA/move.py
*.xml
.idea/workspace.xml
iterui/.idea/workspace.xml
iterui/.idea/workspace.xml
iterui/.idea/workspace.xml
*.pyc
Data Save/Elem Cache/name.cache
*.xml
iterui/__pycache__/ShowResultDlg.cpython-35.pyc
*.cache
iterui/.idea/workspace.xml
*.pyc
*.xml
iterui/__pycache__/ShowResultDlg.cpython-35.pyc
*.xml
iterui/.idea/workspace.xml
*.pyc
iterui/__pycache__/ShowResultDlg.cpython-35.pyc
*.pyc
*.xml
*.xml
iterui/__pycache__/ShowResultDlg.cpython-35.pyc
*.pyc
*.xml
*.mat
*.exe
iterui/.idea/iterui.iml
iterui/.idea/misc.xml
出网-一组fispact计算输出文件（俞盛朋 2017-05-12）.rar
*.STL
*.xml
iterui/.idea/workspace.xml
iterui/.idea/workspace.xml
iterui/123
iterui/.idea/workspace.xml
bk/othertest/findandreplacedlg.py
bk/TestActivation.data
bk/simple plot/ui_plotdialog.py
bk/othertest/Ui_findandreplacedlg.py
bk/shooter/MainForm.ui.qml
bk/shooter/shooter.qml
bk/shooter/shooter.qmlproject
bk/simple plot/compileui.py
bk/simple plot/plotdialog.py
bk/simple plot/plotdialog.ui
bk/simple plot/TestClass.py
.idea/workspace.xml
.idea/workspace.xml
*.xml___jb_tmp___
ITER DATA/FLUX1/FLUXES
*.xml
ITER DATA/FLUX2/FLUXES
ITER DATA/FLUX3/FLUXES
ITER DATA/FLUX5/fluxes
ITER DATA/FLUX6/fluxes